@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal {
  z-index: 100;
  background: #fff;
  position: relative;
  border-radius: 5px;
  max-width: 500px;
  width: 30%;
  top: 50%;
  max-height: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 2rem;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
}

.modalBody {
  padding: 0 1rem 0;
  white-space: pre-wrap;
  word-break: break-word;
  max-height: 300px;
  overflow: auto;
  overflow-x: hidden;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  scrollbar-width: none;
}

.modalHeaderBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.modalHeaderBtnIcon {
  font-size: 18px;
  height: 18px;
  display: flex;
  align-items: center;
}

.modalBody::-webkit-scrollbar {
  display: none;
}
